[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=Gatekeeper Desktop
Exec=/usr/bin/python3 /usr/local/bin/moneykeeper
Terminal=false
StartupNotify=false
Categories=Network;Application;
X-GNOME-Autostart-enabled=true